<center>
   
   <h3 >Api </h3>
   <a class="btn" href="api/tareas">Api</a>
   
 </center>
 <p class="navbar-text">Signed in as Mark Otto</p>
 <br>
 <a href="#">Inbox <span class="badge">42</span></a>

<button class="btn btn-primary" type="button">
  Messages <span class="badge">4</span>
</button>
 <p>Signed in as Mark Otto</p>
 <p>este es algo normal</p>
<h2> Lista de tareas </h2>
<p> <%= link_to "Crear nueva tarea", new_tarea_path %> </p>   
<ul>
   <% @tareas.each do |t| %>
   <li>
      <h3> <%= t.titulo %> </h3>
      <p>
      <%= link_to "Ver", t %>
         |
         <%= link_to "Editar", edit_tarea_path(t) %>
         |
         <%= link_to "Eliminar", t, :confirm => "Seguro desea eliminar esta tarea?", :method => :delete %>
         
      </p>
   </li>
   <% end %>
</ul>
   <h2> Últimos comentarios </h2>
<ul style="list-style: none; padding: 0px;">
   <% @ultimos_comentarios.each do |comentario| %>
      <li>
         <p> <%= comentario.mensaje[0..50] %>... </p>
         <p> Comentario en <%= link_to comentario.titulo, tarea_path(comentario.id) %> </p>
         <hr />
      </li>
   <% end %>
</ul>


<br>



<br>
<h3>algo</h3>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
